<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3></h3>
        </div>

        <ul class="list-unstyled components">
            <p></p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a [routerLink]="['/home']">Home</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu-1" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Setting</a>
                <ul class="collapse list-unstyled" id="pageSubmenu-1">
                    <li>
                        <a [routerLink]="['/setting']">Setting</a>
                    </li>
                     
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu-2" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Profile</a>
                <ul class="collapse list-unstyled" id="pageSubmenu-2">
                    <li>
                        <a [routerLink]="['/profile']">Profile</a>
                    </li>
                    
                    
                </ul>
                </li>
                 
                    </ul>

    </nav>

    <!-- Page Content Holder -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="navbar-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Page</a>
                    </li>
                    </ul>
                
            </div>
            
        </nav>

    </div>
</div>