
 
<br>
 <form class="form-inline" action="/#">
  <div class="form-group">
    <label for="Budget">Totel Budget</label>
    <input type="Budget" class="form-control" id="Budget">
  </div>
  <button type="button" class="btn btn-light">update</button>
</form>
<br>
 <form class="form-inline" action="/#">
  <div class="form-group">
    <label for="Budget">Categories</label>
    <input type="Budget" class="form-control" id="Budget">
  </div>
  <button type="button" class="btn btn-light">ADD</button>
</form>

<br>
<!-- <ul class="list-group">
    <li class="list-group-item disabled">item1</li>
    <li class="list-group-item">item2</li>
    <li class="list-group-item">item3</li>
    <li class="list-group-item">item4</li>
    <li class="list-group-item">item5</li>
  </ul> -->

  <div class="card" style="width: 18rem;">

          <div class="mx-auto" style="width: 200px;">
        <p class="card-text">item1 <button type="button" class="btn btn-link" (click)="gotopage()">Delate</button></p> 
        <p class="card-text">item2<button type="button" class="btn btn-link"(click)="gotopage()">Delate</button></p>
        <p class="card-text">item3<button type="button" class="btn btn-link"(click)="gotopage()">Delate</button></p>
        <p class="card-text">item4<button type="button" class="btn btn-link"(click)="gotopage()">Delate</button></p>
         
      </div>
    </div>